In [1]:
# import dependencies

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np


# may delete or move these these once model is more defined
#  moved down to split section-> from sklearn.model_selection import train_test_split
#from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score

In [2]:
# import data and create dataframe
# current path uses preliminary accident file and not real data output including vehicles
data = Path('Resources/combo_prod.csv')
df_un = pd.read_csv(data)
df_un.head(30)

,CASENUM,VEH_NO,STRATUM,VE_FORMS,NUMOCCS,NUMOCCSNAME,MONTHNAME,HARM_EV,HARM_EVNAME,MAN_COLL,...,INT_HWY,WEATHER,WKDY_IM,EVENT1_IM,MANCOL_IM,RELJCT1_IM,RELJCT2_IM,LGTCON_IM,WEATHR_IM,ALCHL_IM
0,'202002121240,1,9,2,1,1,January,12,Motor Vehicle In-Transport,6,...,0,10,4,12,6,0,2,1,10,2
1,'202002121240,2,9,2,1,1,January,12,Motor Vehicle In-Transport,6,...,0,10,4,12,6,0,2,1,10,2
2,'202002121829,1,8,1,1,1,January,42,Tree (Standing Only),0,...,0,1,4,42,0,0,1,2,1,2
3,'202002121849,1,9,2,99,Unknown,January,12,Motor Vehicle In-Transport,1,...,0,1,4,12,1,0,3,1,1,2
4,'202002121849,2,9,2,1,1,January,12,Motor Vehicle In-Transport,1,...,0,1,4,12,1,0,3,1,1,2
5,'202002125680,1,8,2,1,1,January,12,Motor Vehicle In-Transport,1,...,1,1,4,12,1,1,17,4,1,2
6,'202002123484,1,10,1,1,1,January,57,Cable Barrier,0,...,1,4,4,57,0,1,19,1,4,2
7,'202002123576,1,10,1,2,2,January,1,Rollover/Overturn,0,...,0,4,4,1,0,0,1,2,4,2
8,'202002125146,1,8,1,2,2,January,34,Ditch,0,...,0,1,4,34,0,0,1,2,1,2
9,'202002125149,1,10,1,1,1,January,11,Live Animal,0,...,0,98,6,11,0,0,1,2,10,2
10,'202002125582,1,7,3,1,1,January,12,Motor Vehicle In-Transport,6,...,0,2,5,12,6,0,2,1,2,2
11,'202002125582,2,7,3,2,2,January,12,Motor Vehicle In-Transport,6,...,0,2,5,12,6,0,2,1,2,2
12,'202002125582,3,7,3,1,1,January,12,Motor Vehicle In-Transport,6,...,0,2,5,12,6,0,2,1,2,2
13,'202002125605,1,10,1,1,1,January,1,Rollover/Overturn,0,...,0,1,4,1,0,0,1,1,1,2
14,'202002125637,1,10,1,3,3,January,1,Rollover/Overturn,0,...,0,1,4,1,0,0,3,1,1,2
15,'202002125644,1,7,1,1,1,January,52,Guardrail End,0,...,1,10,5,52,0,0,1,1,10,2
16,'202002125680,2,8,2,2,2,January,12,Motor Vehicle In-Transport,1,...,1,1,4,12,1,1,17,4,1,2
17,'202002125788,1,9,2,1,1,January,12,Motor Vehicle In-Transport,1,...,0,1,4,12,1,0,5,1,1,2
18,'202002125788,2,9,2,2,2,January,12,Motor Vehicle In-Transport,1,...,0,1,4,12,1,0,5,1,1,2
19,'202002125838,1,3,2,1,1,January,12,Motor Vehicle In-Transport,6,...,0,1,5,12,6,0,2,1,1,2
20,'202002125838,2,3,2,2,2,January,12,Motor Vehicle In-Transport,6,...,0,1,5,12,6,0,2,1,1,2
21,'202002125923,1,9,2,1,1,January,12,Motor Vehicle In-Transport,1,...,0,1,5,12,1,0,3,1,1,2
22,'202002125923,2,9,2,1,1,January,12,Motor Vehicle In-Transport,1,...,0,1,5,12,1,0,3,1,1,2
23,'202002125942,1,10,2,3,3,January,12,Motor Vehicle In-Transport,7,...,0,1,4,12,7,0,1,1,1,2
24,'202002125942,2,10,2,1,1,January,12,Motor Vehicle In-Transport,7,...,0,1,4,12,7,0,1,1,1,2
25,'202002125952,1,2,1,1,1,January,15,Non-Motorist on Personal Conveyance,0,...,0,1,4,15,0,0,3,3,1,2
26,'202002126030,1,5,2,1,1,January,12,Motor Vehicle In-Transport,1,...,0,1,6,12,1,0,2,1,1,2
27,'202002126317,1,8,2,1,1,January,12,Motor Vehicle In-Transport,1,...,0,2,5,12,1,0,1,3,2,2
28,'202002126030,2,5,2,5,5,January,12,Motor Vehicle In-Transport,1,...,0,1,6,12,1,0,2,1,1,2
29,'202002126041,1,10,1,2,2,January,8,Pedestrian,0,...,0,1,5,8,0,0,1,3,1,1

In [3]:
#filter dataframe to remove unknows categories
df = df_un[df_un['MAX_SEV'] < 5]
df.head(30)

,CASENUM,VEH_NO,STRATUM,VE_FORMS,NUMOCCS,NUMOCCSNAME,MONTHNAME,HARM_EV,HARM_EVNAME,MAN_COLL,...,INT_HWY,WEATHER,WKDY_IM,EVENT1_IM,MANCOL_IM,RELJCT1_IM,RELJCT2_IM,LGTCON_IM,WEATHR_IM,ALCHL_IM
0,'202002121240,1,9,2,1,1,January,12,Motor Vehicle In-Transport,6,...,0,10,4,12,6,0,2,1,10,2
1,'202002121240,2,9,2,1,1,January,12,Motor Vehicle In-Transport,6,...,0,10,4,12,6,0,2,1,10,2
2,'202002121829,1,8,1,1,1,January,42,Tree (Standing Only),0,...,0,1,4,42,0,0,1,2,1,2
3,'202002121849,1,9,2,99,Unknown,January,12,Motor Vehicle In-Transport,1,...,0,1,4,12,1,0,3,1,1,2
4,'202002121849,2,9,2,1,1,January,12,Motor Vehicle In-Transport,1,...,0,1,4,12,1,0,3,1,1,2
5,'202002125680,1,8,2,1,1,January,12,Motor Vehicle In-Transport,1,...,1,1,4,12,1,1,17,4,1,2
6,'202002123484,1,10,1,1,1,January,57,Cable Barrier,0,...,1,4,4,57,0,1,19,1,4,2
7,'202002123576,1,10,1,2,2,January,1,Rollover/Overturn,0,...,0,4,4,1,0,0,1,2,4,2
8,'202002125146,1,8,1,2,2,January,34,Ditch,0,...,0,1,4,34,0,0,1,2,1,2
10,'202002125582,1,7,3,1,1,January,12,Motor Vehicle In-Transport,6,...,0,2,5,12,6,0,2,1,2,2
11,'202002125582,2,7,3,2,2,January,12,Motor Vehicle In-Transport,6,...,0,2,5,12,6,0,2,1,2,2
12,'202002125582,3,7,3,1,1,January,12,Motor Vehicle In-Transport,6,...,0,2,5,12,6,0,2,1,2,2
13,'202002125605,1,10,1,1,1,January,1,Rollover/Overturn,0,...,0,1,4,1,0,0,1,1,1,2
14,'202002125637,1,10,1,3,3,January,1,Rollover/Overturn,0,...,0,1,4,1,0,0,3,1,1,2
15,'202002125644,1,7,1,1,1,January,52,Guardrail End,0,...,1,10,5,52,0,0,1,1,10,2
16,'202002125680,2,8,2,2,2,January,12,Motor Vehicle In-Transport,1,...,1,1,4,12,1,1,17,4,1,2
17,'202002125788,1,9,2,1,1,January,12,Motor Vehicle In-Transport,1,...,0,1,4,12,1,0,5,1,1,2
18,'202002125788,2,9,2,2,2,January,12,Motor Vehicle In-Transport,1,...,0,1,4,12,1,0,5,1,1,2
19,'202002125838,1,3,2,1,1,January,12,Motor Vehicle In-Transport,6,...,0,1,5,12,6,0,2,1,1,2
20,'202002125838,2,3,2,2,2,January,12,Motor Vehicle In-Transport,6,...,0,1,5,12,6,0,2,1,1,2
21,'202002125923,1,9,2,1,1,January,12,Motor Vehicle In-Transport,1,...,0,1,5,12,1,0,3,1,1,2
22,'202002125923,2,9,2,1,1,January,12,Motor Vehicle In-Transport,1,...,0,1,5,12,1,0,3,1,1,2
23,'202002125942,1,10,2,3,3,January,12,Motor Vehicle In-Transport,7,...,0,1,4,12,7,0,1,1,1,2
24,'202002125942,2,10,2,1,1,January,12,Motor Vehicle In-Transport,7,...,0,1,4,12,7,0,1,1,1,2
25,'202002125952,1,2,1,1,1,January,15,Non-Motorist on Personal Conveyance,0,...,0,1,4,15,0,0,3,3,1,2
26,'202002126030,1,5,2,1,1,January,12,Motor Vehicle In-Transport,1,...,0,1,6,12,1,0,2,1,1,2
27,'202002126317,1,8,2,1,1,January,12,Motor Vehicle In-Transport,1,...,0,2,5,12,1,0,1,3,2,2
28,'202002126030,2,5,2,5,5,January,12,Motor Vehicle In-Transport,1,...,0,1,6,12,1,0,2,1,1,2
29,'202002126041,1,10,1,2,2,January,8,Pedestrian,0,...,0,1,5,8,0,0,1,3,1,1
30,'202002126048,1,7,2,2,2,January,12,Motor Vehicle In-Transport,6,...,0,10,6,12,6,0,3,1,10,2

In [4]:
#create binary max severity field equal to 1 if "MAX_SEV" is 3/suspected serious injury or 4/fatal
df["MAX_SEV_BINARY"]=np.where(df["MAX_SEV"] >= 3,1,0)
df.head(30)

C:\Users\jessi\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,CASENUM,VEH_NO,STRATUM,VE_FORMS,NUMOCCS,NUMOCCSNAME,MONTHNAME,HARM_EV,HARM_EVNAME,MAN_COLL,...,WEATHER,WKDY_IM,EVENT1_IM,MANCOL_IM,RELJCT1_IM,RELJCT2_IM,LGTCON_IM,WEATHR_IM,ALCHL_IM,MAX_SEV_BINARY
0,'202002121240,1,9,2,1,1,January,12,Motor Vehicle In-Transport,6,...,10,4,12,6,0,2,1,10,2,0
1,'202002121240,2,9,2,1,1,January,12,Motor Vehicle In-Transport,6,...,10,4,12,6,0,2,1,10,2,0
2,'202002121829,1,8,1,1,1,January,42,Tree (Standing Only),0,...,1,4,42,0,0,1,2,1,2,0
3,'202002121849,1,9,2,99,Unknown,January,12,Motor Vehicle In-Transport,1,...,1,4,12,1,0,3,1,1,2,0
4,'202002121849,2,9,2,1,1,January,12,Motor Vehicle In-Transport,1,...,1,4,12,1,0,3,1,1,2,0
5,'202002125680,1,8,2,1,1,January,12,Motor Vehicle In-Transport,1,...,1,4,12,1,1,17,4,1,2,0
6,'202002123484,1,10,1,1,1,January,57,Cable Barrier,0,...,4,4,57,0,1,19,1,4,2,0
7,'202002123576,1,10,1,2,2,January,1,Rollover/Overturn,0,...,4,4,1,0,0,1,2,4,2,0
8,'202002125146,1,8,1,2,2,January,34,Ditch,0,...,1,4,34,0,0,1,2,1,2,0
10,'202002125582,1,7,3,1,1,January,12,Motor Vehicle In-Transport,6,...,2,5,12,6,0,2,1,2,2,0
11,'202002125582,2,7,3,2,2,January,12,Motor Vehicle In-Transport,6,...,2,5,12,6,0,2,1,2,2,0
12,'202002125582,3,7,3,1,1,January,12,Motor Vehicle In-Transport,6,...,2,5,12,6,0,2,1,2,2,0
13,'202002125605,1,10,1,1,1,January,1,Rollover/Overturn,0,...,1,4,1,0,0,1,1,1,2,0
14,'202002125637,1,10,1,3,3,January,1,Rollover/Overturn,0,...,1,4,1,0,0,3,1,1,2,0
15,'202002125644,1,7,1,1,1,January,52,Guardrail End,0,...,10,5,52,0,0,1,1,10,2,1
16,'202002125680,2,8,2,2,2,January,12,Motor Vehicle In-Transport,1,...,1,4,12,1,1,17,4,1,2,0
17,'202002125788,1,9,2,1,1,January,12,Motor Vehicle In-Transport,1,...,1,4,12,1,0,5,1,1,2,0
18,'202002125788,2,9,2,2,2,January,12,Motor Vehicle In-Transport,1,...,1,4,12,1,0,5,1,1,2,0
19,'202002125838,1,3,2,1,1,January,12,Motor Vehicle In-Transport,6,...,1,5,12,6,0,2,1,1,2,0
20,'202002125838,2,3,2,2,2,January,12,Motor Vehicle In-Transport,6,...,1,5,12,6,0,2,1,1,2,0
21,'202002125923,1,9,2,1,1,January,12,Motor Vehicle In-Transport,1,...,1,5,12,1,0,3,1,1,2,0
22,'202002125923,2,9,2,1,1,January,12,Motor Vehicle In-Transport,1,...,1,5,12,1,0,3,1,1,2,0
23,'202002125942,1,10,2,3,3,January,12,Motor Vehicle In-Transport,7,...,1,4,12,7,0,1,1,1,2,0
24,'202002125942,2,10,2,1,1,January,12,Motor Vehicle In-Transport,7,...,1,4,12,7,0,1,1,1,2,0
25,'202002125952,1,2,1,1,1,January,15,Non-Motorist on Personal Conveyance,0,...,1,4,15,0,0,3,3,1,2,0
26,'202002126030,1,5,2,1,1,January,12,Motor Vehicle In-Transport,1,...,1,6,12,1,0,2,1,1,2,1
27,'202002126317,1,8,2,1,1,January,12,Motor Vehicle In-Transport,1,...,2,5,12,1,0,1,3,2,2,0
28,'202002126030,2,5,2,5,5,January,12,Motor Vehicle In-Transport,1,...,1,6,12,1,0,2,1,1,2,1
29,'202002126041,1,10,1,2,2,January,8,Pedestrian,0,...,1,5,8,0,0,1,3,1,1,0
30,'202002126048,1,7,2,2,2,January,12,Motor Vehicle In-Transport,6,...,10,6,12,6,0,3,1,10,2,0

In [5]:
# separate targets

y = df["MAX_SEV_BINARY"]
y.tail(5)

94343    1
94344    0
94345    0
94346    0
94347    0
Name: MAX_SEV_BINARY, dtype: int32

In [6]:
#create resulting features dataframe
X_df = df[["VEH_NO","VE_FORMS","NUMOCCS","HARM_EV","MAN_COLL","UNITTYPE","HIT_RUN","MAKE","MODEL","MAK_MOD","BODY_TYP","MOD_YEAR","TOW_VEH","J_KNIFE","TRAV_SP","ROLLOVER","ROLINLOC","DEFORMED","TOWED","M_HARM","VEH_ALCH","FIRE_EXP","DR_PRES","DR_ZIP","SPEEDREL","VTRAFWAY","VNUM_LAN","VALIGN","VPROFILE","VSURCOND","VTRAFCON","VTCONT_F","P_CRASH1","P_CRASH2","P_CRASH3","PCRASH4","PCRASH5","ACC_TYPE","VPICMAKE","VPICMODEL","VPICBODYCLASS","ICFINALBODY","GVWR_FROM","GVWR_TO","REGION","URBANICITY","MONTH","YEAR","DAY_WEEK","ALCOHOL","RELJCT1","RELJCT2","TYP_INT","WRK_ZONE","REL_ROAD","LGT_COND","INT_HWY","WEATHER"]]
X_df.tail(5)

,VEH_NO,VE_FORMS,NUMOCCS,HARM_EV,MAN_COLL,UNITTYPE,HIT_RUN,MAKE,MODEL,MAK_MOD,...,DAY_WEEK,ALCOHOL,RELJCT1,RELJCT2,TYP_INT,WRK_ZONE,REL_ROAD,LGT_COND,INT_HWY,WEATHER
94343,2,2,1,12,2,1,0,99,709,99709,...,6,9,0,2,2,0,1,1,0,1
94344,2,2,1,12,1,1,0,49,401,49401,...,7,2,0,3,2,0,1,1,0,1
94345,1,2,1,12,1,1,0,52,47,52047,...,2,2,0,3,2,0,1,1,0,10
94346,2,2,1,12,1,1,0,37,32,37032,...,2,2,0,3,2,0,1,1,0,10
94347,1,3,1,12,1,1,0,12,37,12037,...,4,2,0,1,1,0,1,1,0,1

In [7]:
# partition data into training and test data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_df, 
                                                    y, random_state =1,test_size = .2)
X_train.shape

(74485, 58)

In [8]:
#Resample the training data to account for variations in the sampe
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

In [9]:
# create the model
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10)

In [10]:
# train the model *can toggle between resampled data
classifier.fit(X_resampled, y_resampled)
#classifier.fit(X_train, y_train)

RandomForestClassifier(n_estimators=10)

In [11]:
# make preditions with the model
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            0       0
1            0       0
2            0       0
3            0       0
4            0       0
5            0       1
6            0       1
7            0       0
8            0       0
9            0       0
10           0       0
11           0       0
12           0       0
13           1       1
14           0       0
15           0       1
16           1       0
17           1       1
18           0       0
19           0       0

In [12]:
# export results to a csv file
df_results=pd.DataFrame(results)
df_results.to_csv('results_binary.csv')

In [13]:
# validate the model

In [14]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.8706905810331865

In [15]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[15633   488]
 [ 1920   581]]

In [16]:
# export confusion matrix to a csv file
df_matrix=pd.DataFrame(matrix)
df_matrix.to_csv('matrix_binary.csv')

In [17]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.89      0.97      0.93     16121
           1       0.54      0.23      0.33      2501

    accuracy                           0.87     18622
   macro avg       0.72      0.60      0.63     18622
weighted avg       0.84      0.87      0.85     18622

In [18]:
#